dataframe-sql==0.4.0
fsspec==2022.8.2
geopandas==0.11.1
html5lib==1.1
jupyter==1.0.0
lxml==4.9.1
pandas==1.5.0
pandas-datareader==0.10.0
pandas-profiling==3.4.0
pandarallel==1.6.3
pyarrow==9.0.0
PyMySQL==1.0.2
pyorc==0.7.0
pyreadstat==1.1.9
s3fs==2022.8.2
sklearn-pandas==2.2.0
SQLAlchemy==1.4.41
tables==3.7.0
