fsspec==2023.6.0
html5lib==1.1
jupyter==1.0.0
lxml==4.9.1
openpyxl==3.1.2
pandas==2.0.3
pandasai==0.4.0
pandarallel==1.6.5
polars==0.18.7
pyarrow==12.0.1
PyMySQL==1.1.0
pyorc==0.8.0
pyreadstat==1.2.2
s3fs==2023.6.0
seaborn==0.12.2
SQLAlchemy==2.0.19
tables==3.7.0
ydata-profiling==4.4.0